<h1>Login & Signup Page</h1>

<%= form_for :user do |f| %>

  <%= f.text_field :email, placeholder: "Enter your email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "Login" %><br/>

  <%= link_to "Forgot Password?", new_password_path %></br>
  <%= link_to "Sign Up!", new_user_path %>
<% end %>
