<h1 class="bartSpeak">Login, dudes and dudettes!</h1>

<div id="mike">
  <%= form_for :user do |f| %>

    <%= f.text_field :email, placeholder: "Enter your email" %>
    <%= f.password_field :password, placeholder: "password" %>
    <%= f.submit "Login" %>

    <%= link_to "Sign Up!", new_user_path %>
    <%= link_to "Forgot Password?", new_password_path %>
  <% end %>
</div>

