<!-- show.html.erb -->

<div class="container">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-6">

		<h3> Welcome <%= @user.first_name %> <%= @user.last_name %> to your homepage! </h3>

		<p>User: <%= @user.first_name %></p>

		<div class="row">
    		<div class="col-xs-12 col-sm-6 col-md-4">
      			<img src="<%= "#{@user.image_url}" %>" class="img-responsive img">
    		</div>
    	</div>

		<ul>
		  <% @user.pages.each do |page| %>
			Name: <%= page.name %><br/>
			Content: <%= page.content %>
		</ul>

		<% if page.user.id == session[:user_id] %>
			<%= button_to "Update", edit_user_path(@user), method: :get %><br/>
			<%= button_to "Delete", @user, method: :delete %>
		 <% end %>

	<% end %>

		</div>
	</div>
</div>
